/*Remueve el color azúl de fondo de los inputs*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
{
    transition: background-color 5000s ease-in-out 0s !important;
}